*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}
body {
	font-family: 'Barlow Condensed', sans-serif;
}

h1, h2 {
	font-family: 'Barlow Condensed', sans-serif;
	text-align:left;
}
h3 {
	color: white;
	font-size: 300%;
	margin-bottom:20px;
}

a {
	display:block;
}

li {
	list-style-type: none;
}
img{
	width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
form{
	margin-top:80px;
}
span{
	font-size:120%;
}
button{
	font-size:20px;
	border: none;
}
.container {
	width: 100%;
	margin: 0 auto;
}
.logo{
	display:block;
	width:50px;
	margin-left: auto;
    margin-right: auto;
}
.title{
	margin-left: auto;
    margin-right: auto;
	display:flex;
	width: 1200px;
	height:80px;
	background:WhiteSmoke;
	padding:10px;
}
.titleleft{
	display:flex;
	justify-content:flex-start;
	margin-left:100px;
}
.titlecenter{
	display:flex;
	justify-content:flex-start;
	width: 1000px;
	margin:0px;
	padding:0px;
}
.titleright{
	display:flex;
	justify-content:flex-end;
	margin-right:100px;
}
.titlemain{
	display:flex;
	flex-direction:column;
	margin-left: auto;
    margin-right: auto;
	width: 1200px;
	height:550px;
	background:#353535;
	color: white;
	text-align:center;
	align-items:stretch;
	padding:10px;
}
.par1{
	margin-top:200px;
	font-size: 83px;
	font-weight: 600;
}
.par2{
	font-size: 43px;
	font-weight: 200;
}
.img {
	margin-left: auto;
    margin-right: auto;
	width: 50px;
	height: 50px;
	padding-bottom:10px;
}
.about{
	margin-left: auto;
    margin-right: auto;
	text-align:center;
	width: 800px;
	height:150px;
	padding:50px;
}
u {
	font-size: 43px;
	font-weight: bold;
	text-decoration-color: #E84C3D; 
	
  }
p {
	margin:20px;
	font-size: 130%;
}
.about-menu{
	display:flex;
	justify-content:space-around;
	/* flex-wrap:wrap; */
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	padding: 5%;
	/* margin:60px; */
}
.about-detail{
	width:calc((100% - 10px * 2 *2) / 3);
	height: 200px;
	background:WhiteSmoke;
	margin:5px;
}
.about-container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    text-align: center;
    align-items: stretch;

}
.about-icon {
	height:120px;
	padding:30px;
}
.about-more{
	color:DarkSlateGrey;
	font-weight: bold;
	font-size: 120%;
	text-decoration: none;
	text-align:center;
}
p.clip{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
	max-width: 90%;
	font-size: 100%;
	color:DarkGrey;
	margin:10px;
	padding-left: 20px;
	padding-right: 20px;

}
.present{
	display:flex;
	margin-left: auto;
    margin-right: auto;
	width: 1200px;
	height:400px;
	background:#353535;
	text-align:center;
	align-items:stretch;
	/* padding:10px; */
}
.present-menu {
	display:flex;
}
.present1{
	display:flex;
	width:calc(100% / 2);
	flex-direction: column;
	align-items: center;
	color:gray;
	margin:30px;
	padding:30px;
}
.present-play {
	padding: 15px 15px;
	background: #E84C3D;
	color:white;
	margin: 10px 0;
	width:150px;
	height:50px;
}

.menu {
	display: flex;
	justify-content: center;
	margin-top:80px;
}
.menu-item {
	border: none;
	letter-spacing: 5px;
	font-size: 150%;
	
}
.menu-item a {
	padding: 10px;
	text-decoration: none;
	color: black;
}
.item-active a {
	font-weight: bold;
	text-decoration:underline;
	text-decoration-color: red; 
}
.projects{
	display:flex;
	flex-wrap:wrap;
	width: 1200px;
	margin-left: auto;
    margin-right: auto;
}
.project{
	display: flex;
    align-items: center;
	width:calc((100% - 0px * 2 * 5) / 5);
	margin:0px;
}
/*не нашла как сделать навигацию указанным на фото способом- 
горизонтально, с иконками и текстом*/
.navbar{
	display:flex;
	margin-left: auto;
    margin-right: auto;
	width: 1200px;
	height:180px;
	background:#1C1C1C;
	text-align:center;
	align-items:stretch;
	justify-content: center;
	padding:10px;
}
.nav{
	display:flex;
	align-items: center;
	width: 150px;
	margin:30px;
}
.form-wrap{
	display: flex;
	margin-left:100px;
	margin-right:100px;
	justify-content: center;
}
.form-wrap2{
	display: block;
	width:760px;
	margin-left:auto;
	margin-right:auto;
	justify-content: center;
	margin-bottom:45px;
}
label {
	margin-bottom: 10px;
	display: flex;
	align-items: flex-end;
	border-bottom: 1px solid DarkSlateGrey;
	padding:20px;
}
label span{
	min-width: 100px;
	margin:20px;
	font-weight: bold;
}
label input,
label textarea{
	padding: 5px 10px;
	border: none;
	width: 100%;
}
.form-botton{
	display:flex;
	margin: auto;
	width:160px;
	height:50px;
	color:white;
	justify-content: center;
}
.form-botton button {
    color: white;
}
.submit{
	font-weight: bold;
	background: red;
    width: 100%;
    font-size: 15px;
}
.fin{
	border: none;
	border-bottom:none;
	background:#1C1C1C;
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	justify-content: center;
	margin-top:45px;
}
/*не знаю как оформить ссылку-стрелку вниз красного цвета  */
fieldset {
	border-style: none;
    	border-image: none;
}
select {
	background:#1C1C1C;
	color:white;
	border:#1C1C1C;
	font-size: 18px;
	font-weight: bold;
}
.links{
	width:1200px;
	background:#171F22;
	display:flex;
	flex-direction:column;
	margin-left: auto;
    	margin-right: auto;
	justify-content: center;
	text-align:center;
	height:180px;
	color:white;
	padding:5px;
}
.dot {
	height: 15px;
	width: 15px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
  }
  .dot2 {
	height: 15px;
	width: 15px;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
  }
  .dot3 {
	height: 100px;
	width: 100px;
	background-color: #F26C4F;
	border-radius: 50%;
	display: inline-block;
	}
  .personal-skills
  {
	display: flex;
	justify-content: space-around;
	margin-left: auto;
    margin-right: auto;
	text-align:center;
	width: 1000px;
	height:500px;
  }
  .persona-container
  {
	background-color: lightgrey;
	padding:50px;  
	margin: 10px;
	margin-top: 50px;


  }
  .skills-container
  {
	padding:50px;  
	margin: 10px;
	margin-top: 50px;
	background-color: lightgrey;

  }
  .social-image {
	margin-left: auto;
    margin-right: auto;
	width: 50px;
	height: 50px;
	padding-bottom:10px;
  }